<h1>Listing users</h1>

<table>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <tr><td><%=h user.email %></td><%if current_user %><td class="friend"><%= link_to "Become Friend", friendships_path(:friend_id => user), :method => :post %></td><% end %></tr>
      
      </tr>
    <% end %>
  </tbody>
</table>

<br>
